.listaCategoria input{
    width: 350px;
}
.listaCategoria {
    width: 350px;
}
.listaCategoria ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}
.listaCategoria li {
    margin-top: 10px;
    background: rgb(214, 211, 211);
    padding: 7px;
    border-radius: 5px;
    color: rgb(52, 52, 52);
}
